* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    flex-direction: column;
    gap: 20px;
}

.input-item {
    background-color: #5f9137;
    padding: 2rem;
    width: 100%;

}


.input-box {
    width: 20%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid black;
}

.output {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.items {
    width: 10rem;
    display: flex;
    gap: 20px;
}

.items button {
    padding: 2px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    
}